<mat-form-field class="select-filter-field" color="primary" appearance="outline"
	[ngClass]="{'full-width': fullWidth, 'margin-end-15': withMarginLeft, 'margin-start-15': withMarginRight}">
	<mat-label>{{placeholderSelect}}</mat-label>
	<mat-select *ngIf="(data?.length < 2000) && !multiSelect" #singleSelect [formControl]="dataCtrl"
		placeholder="{{placeholderSelect}}" (selectionChange)="onChange($event)" [required]="isRequiredField">
		<mat-option>
			<ngx-mat-select-search [formControl]="dataFilterCtrl" [placeholderLabel]="placeholderSearch"
				[noEntriesFoundLabel]="noEntriesFoundLabel"></ngx-mat-select-search>
		</mat-option>
		<mat-option *ngFor="let objData of (isDisabledValue ? (filteredData  | async | filterDeprecated: dataCtrl.value | filterDuplicated: disabledValues) 
															: (filteredData  | async | filterDeprecated: dataCtrl.value))" matTooltip="{{objData?.name}}"
			matTooltipDisabled="{{objData?.name?.length < 35}}" [value]="objData.ref" [disabled]="objData.disabled && isDisabledValue">{{objData.name}}</mat-option>
	</mat-select>

	<mat-select *ngIf="(data?.length < 2000) && multiSelect" #singleSelect [formControl]="dataCtrl" multiple
		placeholder="{{placeholderSelect}}" (selectionChange)="onChange($event)" [required]="isRequiredField">
		<mat-option>
			<ngx-mat-select-search [formControl]="dataFilterCtrl" [placeholderLabel]="placeholderSearch"
				[noEntriesFoundLabel]="noEntriesFoundLabel"></ngx-mat-select-search>
		</mat-option>
		<mat-option *ngFor="let objData of (isDisabledValue ? (filteredData  | async | filterDeprecated: dataCtrl.value | filterDuplicated: disabledValues) 
															: (filteredData  | async | filterDeprecated: dataCtrl.value))" matTooltip="{{objData?.name}}" matTooltip="{{objData?.name}}"
			matTooltipDisabled="{{objData?.name?.length < 35}}" [value]="objData.ref" [disabled]="objData.disabled && isDisabledValue">{{objData.name}}</mat-option>
	</mat-select>

	<mat-select [multiple]="multiSelect" *ngIf="(data?.length >= 2000) && !multiSelect" #singleSelect [formControl]="dataCtrl"
		placeholder="{{placeholderSelect}}" (openedChange)="onOpenedChangeVS($event)" (closed)="onClose()"
		(selectionChange)="onChange($event)" [required]="isRequiredField">
		<mat-option>
			<ngx-mat-select-search [formControl]="dataFilterCtrl" [placeholderLabel]="placeholderSearch"
				[noEntriesFoundLabel]="noEntriesFoundLabel"></ngx-mat-select-search>
		</mat-option>
		<cdk-virtual-scroll-viewport #virtualScroll itemSize="1" [style.height.px]="200" [minBufferPx]=300
			[maxBufferPx]=550 (scrolledIndexChange)="scrolledIndex($event)">
			<mat-option *cdkVirtualFor="let item of (isDisabledValue ? (filteredData  | async | filterDeprecated: dataCtrl.value | filterDuplicated: disabledValues) 
										: (filteredData  | async | filterDeprecated: dataCtrl.value)); templateCacheSize: 0" [value]="item?.ref"
				matTooltip="{{item?.name}}" matTooltipDisabled="{{item?.name?.length < 35}}" [disabled]="item.disabled && isDisabledValue">
				{{item?.name}}
			</mat-option>
		</cdk-virtual-scroll-viewport>
	</mat-select>

	<mat-select [multiple]="multiSelect" *ngIf="(data?.length >= 2000) && multiSelect" #singleSelect [formControl]="dataCtrl" multiple
		placeholder="{{placeholderSelect}}" (openedChange)="onOpenedChangeVS($event)" (closed)="onClose()"
		(selectionChange)="onChange($event)" [required]="isRequiredField">
		<mat-option>
			<ngx-mat-select-search [formControl]="dataFilterCtrl" [placeholderLabel]="placeholderSearch"
				[noEntriesFoundLabel]="noEntriesFoundLabel"></ngx-mat-select-search>
		</mat-option>
		<cdk-virtual-scroll-viewport #virtualScroll itemSize="1" [style.height.px]="200" [minBufferPx]=300
			[maxBufferPx]=550 (scrolledIndexChange)="scrolledIndex($event)">
			<mat-option *cdkVirtualFor="let item of (isDisabledValue ? (filteredData  | async | filterDeprecated: dataCtrl.value | filterDuplicated: disabledValues) 
						: (filteredData  | async | filterDeprecated: dataCtrl.value)); templateCacheSize: 0" [value]="item?.ref"
				matTooltip="{{item?.name}}" matTooltipDisabled="{{item?.name?.length < 35}}" [disabled]="item.disabled && isDisabledValue">
				{{item?.name}}
			</mat-option>
		</cdk-virtual-scroll-viewport>
	</mat-select>

	
	<mat-icon *ngIf="dataCtrl?.value && !dataCtrl?.disabled" matSuffix class="clearSelectBtn" (click)="clearValue($event)">clear</mat-icon>
	<mat-error *ngIf="dataCtrl?.invalid" > {{ requiredFieldMsg }}</mat-error>
</mat-form-field>
<mat-label hidden="true">

</mat-label>